doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    table
      tr
        th &#x1F986; Duck Hunt - High Scores &#x1F986;
      for score in scores
        tr
          td= scores.place
          td= scores.initials 
          td= scores.score